@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light, dark, emerald --default, night --prefersdark;
  root: ":root";
  prefix: "";
  logs: true;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}
